<div class="page-header" data-parallax="true" style="background-image: url('assets/img/wallpaper.jpg');" xmlns="">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Friends and food</h1>
            <h3>Porque la comida sabe mejor si es con tus amigos.</h3>
            <br/>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i
                    class="fa fa-play"></i>Vídeo aleatorio</a>
            <button type="button" class="btn btn-outline-neutral btn-round">Sin funcionalidad</button>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Nuestro producto</h2>
                    <h5 class="description">Explicar.</h5>
                    <br>
                    <a href="#aboutus" class="btn btn-danger btn-round">Ver más detalles</a>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-album-2"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">UX</h4>
                            <p class="description">Orientado por y para el usuario
                                manteniendo funcionalidad y simpleza.</p>
                            <!--<a href="#pkp" class="btn btn-link btn-danger">See more</a>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-laptop"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Compatibilidad</h4>
                            <p>Adaptado a todo tipo de dispositivos facilitando la usabilidad.</p>
                            <!--<a href="#pkp" class="btn btn-link btn-danger">See more</a>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-trophy"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Ahorro</h4>
                            <p>Tú decides qué lugar será el más conveniente para ti y tus
                                amigos y nosotros nos ocupamos del resto.</p>
                            <!--<a href="#pkp" class="btn btn-link btn-danger">See more</a>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-delivery-fast"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">A domicilio</h4>
                            <p>Si tu plan es reunirte con tus amigos para comer, pero sin salir,
                                nosotros te lo ponemos fácil.</p>
                            <!--<a href="#pkp" class="btn btn-link btn-danger">See more</a>-->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="section section-dark text-center">
        <div class="container">
            <h2 class="title">Acerca de nosotros</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="assets/img/faces/albert.png" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Albert</h4>
                                    <h6 class="card-category">Product Manager</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Entusiasta de las aventuras que deparan los proyectos nuevos como este.
                                Puedes visitar mi portfolio en <a href="http://albertjimenez.github.io">Portfolio
                                Github</a>.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-google-plus"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="assets/img/faces/pablo.png" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Pablo</h4>
                                    <h6 class="card-category">Designer</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Amante de las nuevas tecnologías y melómano a partes iguales.
                                Creo en los retos y en las ideas que surgen en el día a día. Proyectos disponibles en
                                <a href="http://github.com/Berbel93/">mi Github</a>.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-google-plus"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="assets/img/faces/tokis-nv3.png" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Manu</h4>
                                    <h6 class="card-category">Developer</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                The strength of the team is each individual member. The strength of each member is the
                                team. If you can laugh together, you can work together, silence isn’t golden, it’s
                                deadly.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-google-plus"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-profile card-plain  align-items-center">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="assets/img/faces/raul.png" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Raúl</h4>
                                    <h6 class="card-category">Scrum Master</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                The strength of the team is each individual member. The strength of each member is the
                                team. If you can laugh together, you can work together, silence isn’t golden, it’s
                                deadly.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-google-plus"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="section landing-section">-->
    <!--<div class="container">-->
    <!--<div class="row">-->
    <!--<div class="col-md-8 mr-auto ml-auto">-->
    <!--<h2 class="text-center">Keep in touch?</h2>-->
    <!--<form id="myform" class="contact-form">-->
    <!--<div class="row">-->
    <!--<div class="col-md-6">-->
    <!--<label>Name</label>-->
    <!--<div class="input-group">-->
    <!--<span class="input-group-addon">-->
    <!--<i class="nc-icon nc-single-02"></i>-->
    <!--</span>-->
    <!--<input id="form-name" type="text" class="form-control" placeholder="Name">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-6">-->
    <!--<label>Email</label>-->
    <!--<div class="input-group">-->
    <!--<span class="input-group-addon">-->
    <!--<i class="nc-icon nc-email-85"></i>-->
    <!--</span>-->
    <!--<input type="text" id="form-email" class="form-control" placeholder="Email">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<label>Message</label>-->
    <!--<textarea class="form-control" rows="4" id="form-text"-->
    <!--placeholder="Tell us your thoughts and feelings..."></textarea>-->
    <!--<div class="row">-->
    <!--<div class="col-md-4 mr-auto ml-auto">-->
    <!--<button id="form-button" onclick="sendEmail()" class="btn btn-danger btn-lg btn-fill">Send Message</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</form>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

</div>
<div class="section section-gray text-center">
    <div class="container">
        <h2 class="title">Financiación</h2>
        <div class="row">
            <div class="col-md-6">
                <p>Nos financiamos de los restaurante que quieren ser promocionados? + datos generados y publicidad
                    en la app no intrusiva?</p>
            </div>
        </div>
    </div>
</div>
<div class="section section-dark-blue text-center">
    <div class="container">
        <h2 class="title">Implementación</h2>
        <div class="row">
            <div class="col-md-6">
                <p>Se implementa de la forma...</p>
            </div>
        </div>
    </div>
</div>