<div class="page-header" data-parallax="true" style="background-image: url('assets/img/wallpaper2.jpg');" xmlns=""
     detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="100" [topOffset]="100">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Friends and food</h1>
            <h3>Porque la comida sabe mejor si es con tus amigos.</h3>
            <br/>
            <a href="https://www.youtube.com/watch?v=My-6inkI8FI" target="_blank"
               class="btn btn-outline-neutral btn-round"><i
                    class="fa fa-play"></i>¿Cómo lo hacemos?</a>
            <!--<button type="button" class="btn btn-outline-neutral btn-round">Sin funcionalidad</button>-->
            <a class="btn btn-danger btn-round" [ngx-scroll-to]="'#destination-product'">Ver más detalles</a>
            <a class="btn btn-success btn-round" href="https://foodandfriendsapp.firebaseapp.com">
                <i class="fa fa-rocket"></i>
                Entrar en la app</a>


        </div>
    </div>
</div>
<div class="main" id="destination-product">
    <div class="section text-center">
        <div class="container" id="#product">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Nuestro producto</h2>
                    <h5 class="description">Ponemos a disposición de las personas, una herramienta para organizar
                        de una forma simple y atractiva, todos los eventos cuyo propósito sea disfrutar de la buena
                        comida.
                        Para ello, usamos los mapas de Google para que ubiques los lugares, y una interfaz robusta y
                        atractiva, adaptada a los diseños más actuales.</h5>
                    <br>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-album-2"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">UX</h4>
                            <p class="description">Orientado por y para el usuario
                                manteniendo funcionalidad y simpleza.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-laptop"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Compatibilidad</h4>
                            <p>Adaptado a todo tipo de dispositivos facilitando la usabilidad.</p>
                            <!--<a href="#pkp" class="btn btn-link btn-danger">See more</a>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-trophy"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Ahorro</h4>
                            <p>Tú decides qué lugar será el más conveniente para ti y tus
                                amigos y nosotros nos ocupamos del resto.</p>
                            <!--<a href="#pkp" class="btn btn-link btn-danger">See more</a>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-delivery-fast"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">A domicilio</h4>
                            <p>Si tu plan es reunirte con tus amigos para comer, pero sin salir,
                                nosotros te lo ponemos fácil.</p>
                            <!--<a href="#pkp" class="btn btn-link btn-danger">See more</a>-->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="section section-dark text-center">
        <div class="container">
            <h2 class="title">Acerca de nosotros</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="assets/img/faces/albert.png" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Albert</h4>
                                    <h6 class="card-category">Product Manager</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Entusiasta de las aventuras que deparan los proyectos nuevos como este.
                                Puedes visitar mi portfolio en <a href="http://albertjimenez.github.io">Portfolio
                                Github</a>.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="https://www.linkedin.com/in/albert-sendrós-jiménez-52866064/"
                               class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href=""><img src="assets/img/faces/pablo.png" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Pablo</h4>
                                    <h6 class="card-category">Designer</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Amante de las nuevas tecnologías y melómano a partes iguales.
                                Creo en los retos y en las ideas que surgen en el día a día. Proyectos disponibles en
                                <a href="http://github.com/Berbel93/">mi Github</a>.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="https://www.linkedin.com/in/pablo-berbel-mar%C3%ADn-45bb0a133/"
                               class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="assets/img/faces/tokis-nv3.png" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Manu</h4>
                                    <h6 class="card-category">Developer</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Desarrollador de aplicaciones de escritorio y colaborador de A3ERP.
                                Fan de las actividades de riesgo y deportes de montaña.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-profile card-plain  align-items-center">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="assets/img/faces/raul.png" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Raúl</h4>
                                    <h6 class="card-category">Scrum Master</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Defensor de los animales y aficionado al ciclismo. Siempre estoy dispuesto a aprender de
                                las nuevas tecnologías.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-gray text-center" id="destination-funding">
    <div class="container">
        <h2 class="title">Financiación</h2>
        <div class="row">
            <div class="col-md-12">
                <!--<p>Nos financiamos de los restaurante que quieren ser promocionados? + datos generados y publicidad-->
                <!--en la app no intrusiva?</p>-->
                <p>
                    Nuestro modelo de financiación se basa en un contrato entre los locales que deseen ser
                    promocionados,
                    junto a publicidad no intrusiva. Nuestro objetivo no es llenarte de publicidad, ni nunca lo será.
                </p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="info">
                    <div class="description">
                        <h4 class="info-title">Publicidad</h4>
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-diamond"></i>
                        </div>

                    </div>
                </div>
                El advertising de Google mostrará publicidad pasando siempre desapercibido. Si deseas más información
                pulsa aquí para conocer como funciona. <a href="https://adwords.google.com/intl/es_es/home/"
                                                          target="_blank">AdWords</a>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="description">
                        <h4 class="info-title">Locales de promoción</h4>
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-shop"></i>
                        </div>
                    </div>
                    Verás qué restaurantes desean atraer tu atención y con ello quizá te guste probar. Intentamos
                    sugerirte locales
                    promocionados que sean compatibles con tus gustos.
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="description">
                        <h4 class="info-title">Extracción de datos relevantes</h4>
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-spaceship"></i>
                        </div>
                    </div>
                    Como todas los negocios, se generan cada día ingentes cantidades de datos, e incluso muchas
                    veces, éstos son
                    ignorados ocasionando la pérdida de un volumen de negocio a tener en cuenta. Nosotros
                    creemos en la premisa
                    de que los datos son el nuevo oro de este siglo, y por ello recolectamos de forma anónima
                    los datos de los eventos
                    para así poder observar las tendencias del mercado. Una vez analizados, dichos datos pueden
                    ser comercializados
                    con una empresa interesa, pero no te preocupes, nosotros sí cumplimos la nueva GDPR y
                    siempre que esto suceda,
                    serás informado como dueño legítimo de los datos. <a href="https://acumbamail.com/gdpr/"
                                                                         target="_blank">GDPR</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-gold text-center">
    <div class="container">
        <h2 class="title">Implementación</h2>
        Llegamos con la parte técnica sólo apta para geeks y desarrolladores.
        En cuanto a la arquitectura de software que vamos a utilizar, creemos que la que más se adapta a
        nuestras necesidades es la arquitectura de cliente-servidor. La parte visual corre a cargo de Angular 2
        y en el servidor, Spark junto con Kotlin y MongoDB. Todo ello ilustrado de la siguiente imagen
        <br>
        <br>
        <a href="assets/img/arq.png" target="_blank">
            <img src="assets/img/arq.png" class="responsive-img shadow-img">
        </a>
    </div>
</div>
<a class="float" *ngIf="goBot" (click)="goToTheBottom()">
    <i class="fa fa-angle-down my-float"></i>
</a>
<a class="float" *ngIf="goTop" (click)="goToTheTop()">
    <i class="fa fa-angle-up my-float"></i>
</a>