<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/">Inicio</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link cursor" rel="tooltip" title="UJI" data-placement="bottom"
                       [ngx-scroll-to]="'#destination-product'" (click)="sidebarClose()">
                        <i class="fa fa-briefcase"></i>
                        <p class="d-lg-none"></p>
                        Proyecto
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link cursor" rel="tooltip" title="Financiación" data-placement="bottom"
                       [ngx-scroll-to]="'#destination-funding'" (click)="sidebarClose()">
                        <i class="fa fa-money"></i>
                        <p class="d-lg-none"></p>
                        Financiación
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link cursor" rel="tooltip" title="Metodología" data-placement="bottom"
                       [ngx-scroll-to]="'#destination-method'" (click)="sidebarClose()">
                        <i class="fa fa-sitemap"></i>
                        <p class="d-lg-none"></p>
                        Metodología
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
